In [1]:
#Intellesence in Jupyter Notebook
%config IPCompleter.greedy=True
%config Completer.use_jedi = False

In [2]:
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/datasets.csv"

In [4]:
# Creating DataFrame
df = pd.read_csv(url)

In [5]:
df

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,AER,Affairs,Fair's Extramarital Affairs Data,601,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2,AER,BankWages,Bank Wages,474,4,2,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
4,AER,BondYield,Bond Yield Data,60,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
...,...,...,...,...,...,...,...,...,...,...,...,...
1709,vcd,UKSoccer,UK Soccer Scores,25,3,0,0,2,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1710,vcd,VisualAcuity,Visual Acuity in Left and Right Eyes,32,4,1,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1711,vcd,VonBort,Von Bortkiewicz Horse Kicks Data,280,4,1,0,2,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1712,vcd,WeldonDice,Weldon's Dice Data,11,2,0,0,1,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1713,vcd,WomenQueue,Women in Queues,11,2,0,0,1,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [6]:
# Checking top 5 records
df.head()

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,AER,Affairs,Fair's Extramarital Affairs Data,601,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2,AER,BankWages,Bank Wages,474,4,2,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
4,AER,BondYield,Bond Yield Data,60,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [7]:
# Checking last 5 records
df.tail()

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
1709,vcd,UKSoccer,UK Soccer Scores,25,3,0,0,2,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1710,vcd,VisualAcuity,Visual Acuity in Left and Right Eyes,32,4,1,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1711,vcd,VonBort,Von Bortkiewicz Horse Kicks Data,280,4,1,0,2,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1712,vcd,WeldonDice,Weldon's Dice Data,11,2,0,0,1,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1713,vcd,WomenQueue,Women in Queues,11,2,0,0,1,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [8]:
# print info 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1714 entries, 0 to 1713
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Package      1714 non-null   object
 1   Item         1714 non-null   object
 2   Title        1714 non-null   object
 3   Rows         1714 non-null   int64
 4   Cols         1714 non-null   int64
 5   n_binary     1714 non-null   int64
 6   n_character  1714 non-null   int64
 7   n_factor     1714 non-null   int64
 8   n_logical    1714 non-null   int64
 9   n_numeric    1714 non-null   int64
 10  CSV          1714 non-null   object
 11  Doc          1714 non-null   object
dtypes: int64(7), object(5)
memory usage: 160.8+ KB

In [9]:
# print total no of records and columns
df.shape

(1714, 12)

In [10]:
# Print Name of all columns 
df.columns

Index(['Package', 'Item', 'Title', 'Rows', 'Cols', 'n_binary', 'n_character',
       'n_factor', 'n_logical', 'n_numeric', 'CSV', 'Doc'],
      dtype='object')

In [11]:
# Checking how dataset is indexed
df.index

RangeIndex(start=0, stop=1714, step=1)

In [12]:
# checking datatypes of columns
df.dtypes

Package        object
Item           object
Title          object
Rows            int64
Cols            int64
n_binary        int64
n_character     int64
n_factor        int64
n_logical       int64
n_numeric       int64
CSV            object
Doc            object
dtype: object

In [13]:
# describe 
df.describe()

,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric
count,1.714000e+03,1714.000000,1714.000000,1714.000000,1714.000000,1714.000000,1714.000000
mean,3.900833e+03,13.086348,1.931155,0.302800,1.270128,0.030922,11.429988
std,3.997025e+04,171.966384,17.416499,1.266075,3.194779,0.405278,171.905339
min,2.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.400000e+01,3.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,1.055000e+02,5.000000,0.000000,0.000000,0.000000,0.000000,3.000000
75%,5.847500e+02,9.000000,2.000000,0.000000,2.000000,0.000000,7.000000
max,1.414593e+06,6831.000000,624.000000,17.000000,64.000000,11.000000,6830.000000

In [14]:
df.head()

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,AER,Affairs,Fair's Extramarital Affairs Data,601,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2,AER,BankWages,Bank Wages,474,4,2,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
4,AER,BondYield,Bond Yield Data,60,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [15]:
# checking unique items
df['Item'].unique()

array(['Affairs', 'ArgentinaCPI', 'BankWages', ..., 'VonBort',
       'WeldonDice', 'WomenQueue'], dtype=object)

In [16]:
# Count of unique items
df['Item'].unique().size

1658

In [17]:
# create DataFrame from Affairs
url_Affairs = df[df['Item'] == 'Affairs']['CSV']
df_Affairs = pd.read_csv(url_Affairs[0])
df_Affairs

,Unnamed: 0,affairs,gender,age,yearsmarried,children,religiousness,education,occupation,rating
0,4,0,male,37.0,10.00,no,3,18,7,4
1,5,0,female,27.0,4.00,no,4,14,6,4
2,11,0,female,32.0,15.00,yes,1,12,1,4
3,16,0,male,57.0,15.00,yes,5,18,6,5
4,23,0,male,22.0,0.75,no,2,17,6,3
...,...,...,...,...,...,...,...,...,...,...
596,1938,1,male,22.0,1.50,yes,1,12,2,5
597,1941,7,female,32.0,10.00,yes,2,18,5,4
598,1954,2,male,32.0,10.00,yes,2,17,6,5
599,1959,2,male,22.0,7.00,yes,3,18,6,2
600,9010,1,female,32.0,15.00,yes,3,14,1,5